/* 
    Document   : common
    Created on : May 15, 2012, 10:24:36 AM
    Author     : kodakand
    Description:
        Purpose of the stylesheet follows.
*/
body{
   background-color: #F5F4F0;
}

.rfloat{
    float:right;
}

.lfloat{
    float:left;
}